<ion-header>
    <ion-toolbar>
      <ion-button slot="start" routerLink="/ajustes" color="light">
        <ion-icon name="caret-back-outline" color="success"></ion-icon>
      </ion-button>
      <ion-title class="ion-text-center">Ajustes Adicionales</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <!-- Contenido de tus ajustes actuales -->
  
    <div class="anuncio-proximamente">
      <ion-icon name="megaphone" size="large" color="primary"></ion-icon>
      <p>¡Próximamente más opciones emocionantes!</p>
    </div>
  </ion-content>
  