<ion-content class="ion-padding">
    <ion-card class="ayuda-card">
      <ion-card-header>
        <ion-card-title class="ayuda-title">Centro de Ayuda</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ayuda-content">
        <h2>Preguntas Frecuentes</h2>
        <h3>¿Cómo puedo restablecer mi contraseña?</h3>
        <p>
          Para restablecer tu contraseña, ve a la página de inicio de sesión y haz clic en "¿Olvidaste tu contraseña?". Sigue las instrucciones proporcionadas.
        </p>
  
        <h3>¿Cómo contacto al soporte?</h3>
        <p>
          Puedes ponerte en contacto con nuestro equipo de soporte a través del formulario de contacto en la sección de "Soporte" de la aplicación.
        </p>
        <!-- Agrega más preguntas y respuestas según sea necesario -->
      </ion-card-content>
    </ion-card>
  </ion-content>
  