<ion-header>
    <ion-toolbar>
      <ion-button slot="start" routerLink="/ajustes" color="light">
        <ion-icon name="caret-back-outline" color="success"></ion-icon>
      </ion-button>
      <ion-title class="ion-text-center">Avisos de privacidad</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <ion-card class="aviso-privacidad-card">
      <ion-card-header>
        <ion-card-title class="aviso-privacidad-title">Política de Privacidad</ion-card-title>
      </ion-card-header>
      <ion-card-content class="aviso-privacidad-content">
        <p>
          Bienvenido a nuestra aplicación. Esta página explica nuestras políticas con respecto a la recopilación, uso y divulgación de información personal cuando usas nuestra aplicación.
          Al utilizar nuestra aplicación, aceptas las prácticas descritas en este aviso de privacidad.
        </p>
        <h3>Información que Recopilamos</h3>
        <p>
          Cuando utilizas nuestra aplicación, podemos recopilar información que tu navegador envía cada vez que visitas nuestra aplicación.
          Esta información puede incluir, pero no se limita a, la dirección de protocolo de Internet (IP) de tu dispositivo, el tipo de navegador,
          la versión del navegador, las páginas de nuestra aplicación que visitas, la hora y la fecha de tu visita, el tiempo dedicado a esas
          páginas y otras estadísticas.
        </p>
        <!-- Agrega más contenido según sea necesario -->
  
        <h3>Uso de la Información</h3>
        <p>
          Utilizamos la información recopilada para diversos fines, incluido el seguimiento y mejora de nuestra aplicación.
          No compartiremos tu información personal con terceros a menos que se requiera por ley o en respuesta a una orden de un tribunal.
        </p>
        <!-- Agrega más contenido según sea necesario -->
  
        <h3>Cambios en esta Política de Privacidad</h3>
        <p>
          Podemos actualizar nuestra Política de Privacidad de vez en cuando.
          Te informaremos de cualquier cambio publicando la nueva Política de Privacidad en esta página.
        </p>
        <!-- Agrega más contenido según sea necesario -->
      </ion-card-content>
    </ion-card>
  </ion-content>
  
  <style>
    .aviso-privacidad-card {
      max-width: 600px;
      margin: 20px auto;
    }
  
    .aviso-privacidad-title {
      font-size: 1.5rem;
    }
  
    .aviso-privacidad-content {
      line-height: 1.6;
    }
  </style>
  