<ion-content class="ion-padding">
    <ion-card class="terminos-card">
      <ion-card-header>
        <ion-card-title class="terminos-title">Términos y Condiciones</ion-card-title>
      </ion-card-header>
      <ion-card-content class="terminos-content">
        <p>
          Bienvenido a nuestra aplicación móvil. Si continúas utilizando esta aplicación, aceptas cumplir con los siguientes términos y condiciones de uso.
        </p>
  
        <h2>Uso de la Aplicación</h2>
        <p>
          El uso de esta aplicación está sujeto a las siguientes condiciones:
        </p>
        <ul>
          <li>El contenido de las páginas de esta aplicación es solo para tu información general y está sujeto a cambios sin previo aviso.</li>
          <li>Este uso está prohibido para menores de 13 años.</li>
          <!-- Agrega más puntos según sea necesario -->
        </ul>
  
        <h2>Contenido</h2>
        <p>
          Ni nosotros ni terceros proporcionamos garantía alguna en cuanto a la precisión, actualidad, rendimiento, integridad o idoneidad de la información y los materiales encontrados u ofrecidos en esta aplicación para cualquier propósito particular.
        </p>
        <!-- Agrega más contenido según sea necesario -->
      </ion-card-content>
    </ion-card>
  </ion-content>
  